upstream ufv_profesores {
{% for ip in profesores_backend_hosts | default(['127.0.0.1']) %}
    server {{ ip }}:80;
{% endfor %}
}

upstream ufv_alumnos {
{% for ip in alumnos_backend_hosts | default(['127.0.0.1']) %}
    server {{ ip }}:80;
{% endfor %}
}

upstream ufv_practicas {
{% for ip in practicas_backend_hosts | default(['127.0.0.1']) %}
    server {{ ip }}:80;
{% endfor %}
}

server {
    listen 80;
    server_name _;

    location /static/ {
        alias /var/www/public/;
    }

    location / {
        root /var/www/public;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location /profesores/ {
        proxy_pass http://ufv_profesores/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /alumnos/ {
        proxy_pass http://ufv_alumnos/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /practicas/ {
        proxy_pass http://ufv_practicas/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /health/ {
        proxy_pass http://ufv_profesores/health;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /s3/ {
        proxy_pass http://ufv_profesores/s3/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
